.container{
    width: 1240px;
    margin: 0 auto;
}
body{
    background: black;
}
.re{
    width: 300px;
    height: 40px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 6px;
    margin: 0 1pc;
}
#ToDo{
    margin: 2pc 0;
}
.Todo{
    text-align: center;
    flex-direction: column;
    display: flex;

}
.Todo h1{
    margin: 1pc 0;
}
.wero{
    border: 1px solid rgb(201, 199, 199);
width: 400px;    
margin: auto;
margin-top: 20px;
}
.type{
    color: rgb(255, 255, 255);
}
